body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, `sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #f7f4f1;
  font-weight: 400;
  box-sizing: content-box;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center top;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.main-header .container li {
    display: inline-block;
    vertical-align: text-top;
  }
}
.logo {
  display: inline-block;
  vertical-align: text-top;
}
.main-header {
  margin-bottom: 60px;
}
.main-navigation {
  width: 660px;
  min-height: 70px;
  display: inline-block;
}
.main-navigation a {
  color: #f7f4f1;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  list-style: none;
}
.user-block {
  display: inline-block;
  vertical-align: text-top;
  width: 140px;
  min-height: 70px;
}
/*main*/
.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}
.main-box {
  width: 940px;
  height: 800px;
}
.left-column {
  float: left;
  vertical-align: text-top;
  width: 170px;
  min-height: 700px;
  box-sizing: border-box;
  }
.clearfix::after {
  content:" ";
  display: table;
  clear: both;
}
.price-cards {
float: right;
width: 730px;
min-height: 700px;
box-sizing: border-box;
}
.articles {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 290px;
  background-color: #FFFFFF;
}
.articles:nth-child(3) {
  margin-right: 0;
}
b, h2, h1 {
  font-size: 30px;
  line-height: 42px;
}
.features-item {
  width: 300px;
  min-height: 175px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: text-top;
  display: inline-block;
  vertical-align: text-top;
}
.features-item:last-child {
  margin-right: 0;
}
.features {
  margin-bottom: 80px;
}
.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  background-color: #f7f4f1;
}
.index-content-left {
  min-height: 330px;
  display: inline-block;
  vertical-align: text-top;
  width: 380px;
}
.index-content-right {
  min-height: 330px;
  display: inline-block;
  vertical-align: text-top;
  width: 300px;
}
.news-preview, .index-content, .breadcrumbs, li {
  color: #000000;
}
.form-headline  {
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}
.price-types, .price-names {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}
.price-names {
  text-transform: uppercase;
}
/*footer*/
.main-footer {
  color: #232323;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer-contacts {
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
  display: inline-block;
  vertical-align: text-top;
}
.footer-social {
  width: 180px;
  min-height: 90px;
  display: inline-block;
  vertical-align: text-top;
}
.footer-copyright {
  width: 180px;
  min-height: 90px;
  display: inline-block;
  vertical-align: text-top;
}
.consist-text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
}
.social-btn {
  display: inline-block;
  vertical-align: text-top;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  vertical-align: middle;
  background: #000000 no-repeat;
}
.social-btn-vk {
  background-position: center;
  background-image: url("../img/v.png");
}
.social-btn-fb {
  background-position: center;
  background-image: url("../img/f.png");
}
.social-btn-inst {
  background-position: center;
  background-image: url("../img/insta.png");
}
